*{
    margin: 0;
    padding: 0;
  }
.navp{
 display: flex;
justify-content: space-between;
background-color: #209097;
height: 80px;

 }
 .icon{
    display: flex;
    align-items: center;
 }
 .logout{
    display: flex;
    align-items: center;
  
 }
.logout a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
/* .section1{
 display: flex;
flex-direction: row;
align-items: center;
padding: 50px;
} */
.profileLinksSection{
    width: 100%;
    background-color: #212A3E;
    margin: 0px;
    padding: 2.5% 0px 2.5% 0px;

}
.navbar :hover{
    background-color: #146971;
    color: white;

}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.cate{
    border-radius: 20px;
}





