*{
    margin: 0;
    padding: 0;
  }
.navp{
    /* width: 90%; */
 display: flex;
justify-content: space-around;
background-color: #209097;
height: 80px;

 }
 .icon{
    display: flex;
    align-items: center;
 }
 .logout{
    display: flex;
    align-items: center;
  
 }
.logout a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.section1{
 display: flex;
flex-direction: row;
align-items: center;
padding: 50px;
}
.navbar{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 63px;
gap: 58px;
background: rgba(32, 144, 151, 0.29);
width: 100%;
height: 70px;
}
.navbar :hover{
    background-color: #146971;
    color: white;

}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.section2{
    display: flex;
        justify-content: center;
        align-items: center;
}
.tt{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 5px;
gap: 30px;
}
input{
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    background: rgba(43, 181, 192, 0.19);
    border-radius: 10px;
    border: none;
    padding: 20px;
   
}
.btn{
    background: #2BB5C0;
    color: #fff;
   border-radius: 10px;
   border: none;
   width: 500px;
   height: 50px;
   }
    

