*{
    margin: 0;
    padding: 0;
  }
.nav{
 display: flex;
justify-content: space-between;
 }

 .logo img{
    width: 90px;
 }
 .buttons{
display: flex;
justify-content: space-between;
 }
 a{
text-decoration: none !important;
color: white !important;
background: #2BB5C0;
border-radius: 15px;
padding: 10px 30px;
 }
 .btns{
    margin: 35px 0px;
 }

.titre h1{
    color: white;
    text-align: left;
}
.titre h4{
    font-size: 20px;
    color: #093941;
    text-align: left;
}

